title{
	color: red;
	background-color: green;
}
p i {
	color: yellow;
}
p{
	color: white ; 
background-color: black;
}
#green{
	color: green;
}
.xz{
	color: blue;
	background-color: green;
}